<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>dashboard!</h1>
<p><a href="/">ホーム</a> > <a href="/dashboard">dashboard</a> > </p>
<p>ようこそ<%= userName%>さん!</p>
<a href="/profile?uid=<%= userID%>">マイページ</a>
<p>projects should appear</p>
<table border="1">
    <thead>
    <tr>
        <th>Name</th>
        <th>description</th>
    </tr>
    </thead>
    <tbody>
    <% if(projects) { %>
    <% projects.forEach(row => { %>
        <tr>
            <td><a href="/project?pid=<%= row.projectID %>"><%= row.name %></a></td>
            <td><%= row.description %></td>
        </tr>
    <% }) %>
    <% } %>
    </tbody>
</table>
<br>
<a href="/dashboard/create-project">create project</a>
</body>
</html>