<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        if (window.innerWidth <= 768) {
            document.write('<link rel="stylesheet" href="/stylesheets/mobile.css">');
        } else {
            document.write('<link rel="stylesheet" href="/stylesheets/desktop.css">');
        }
    </script>
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="sidebar">
            <img src="/images/hayabusa2.png" alt="icon">
            <% if(userID) { %>
                <ul>
                    <a href="/"><li>ホーム</li></a>
                    <a href="/dashboard"><li>ダッシュボード</li></a>
                    <a href="/project/projects"><li>プロジェクト一覧</li></a>
                    <a href="/task/tasks"><li>タスク一覧</li></a>
                    <a href="/profile?uid=<%= userID %>"><li>マイページ</li></a>
                    <a href="/login/logout"><li>ログアウト</li></a>
                </ul>
            <% }else { %>
                <ul>
                    <a href="/"><li>ホーム</li></a>
                    <a href="/login"><li>ログイン</li></a>
                    <a href="/login/create"><li>アカウント作成</li></a>
                </ul>
            <% } %>
        </div>
        <div class="content">

            <p>ようこそ<%= userName%>さん!</p>

            <div class="breadcrumb">
                <a href="/">ホーム</a>
                <span>></span>
                <span>ダッシュボード</span>
            </div>

            <div class="section">
                <h2>プロジェクト一覧</h2>
                <% if(projects && projects.length > 0) { %>
                    <table>
                        <thead>
                        <tr>
                            <th>プロジェクト名</th>
                            <th>概要</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <% projects.forEach(row => { %>
                            <tr>
                                <td><a href="/project?pid=<%= row.projectID %>"><%= row.name %></a></td>
                                <td><%= row.description %></td>
                                <td><form action="/project/delete-project" method="post"><input type="hidden" name="projectID" value="<%= row.projectID%>"><button type="submit">削除</button></form></td>
                            </tr>
                        <% }) %>
                        </tbody>
                    </table>
                <% }else { %>
                    <p>プロジェクトはまだありません</p>
                <% } %>
                <form action="/dashboard/create-project" method="get"><button type="submit">プロジェクトを作成</button></form>
            </div>

            <div class="section">
                <h2>自分のタスク一覧 (responsible)</h2>
                <% if(responsibleTask && responsibleTask.length > 0) { %>
                <table id="taskTable">
                    <thead>
                        <tr>
                            <th>タスク名</th>
                            <th>概要</th>
                            <th>期限</th>
                            <th>進行度</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% responsibleTask.forEach(row => { %>
                            <tr>
                                <td><a href="/task?tid=<%= row.taskID %>"><%= row.name %></a></td>
                                <td><%= row.description %></td>
                                <td><%= row.due %></td>
                                <td data-completion="<%= row.completion %>">
                                    <% if(row.completion === 1) { %>
                                        完了
                                    <% } else if(row.completion === 0) { %>
                                        進行中
                                    <% } else { %>
                                        開始前
                                    <% } %>
                                </td>
                                <td>
                                    <form action="/task/delete-task" method="post">
                                        <input type="hidden" name="taskID" value="<%= row.taskID %>">
                                        <button type="submit">削除</button>
                                    </form>
                                </td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
                <div id="chart_div"></div>
                <% } else { %>
                    <p>表示するプロジェクトがありません</p>
                <% } %>
            </div>

            <div class="section">
                <h2>自分のタスク一覧 (accountable)</h2>
                <% if(accountableTask && accountableTask.length > 0) { %>
                <table id="taskTable">
                    <thead>
                        <tr>
                            <th>タスク名</th>
                            <th>概要</th>
                            <th>期限</th>
                            <th>進行度</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% accountableTask.forEach(row => { %>
                            <tr>
                                <td><a href="/task?tid=<%= row.taskID %>"><%= row.name %></a></td>
                                <td><%= row.description %></td>
                                <td><%= row.due %></td>
                                <td data-completion="<%= row.completion %>">
                                    <% if(row.completion === 1) { %>
                                        完了
                                    <% } else if(row.completion === 0) { %>
                                        進行中
                                    <% } else { %>
                                        開始前
                                    <% } %>
                                </td>
                                <td>
                                    <form action="/task/delete-task" method="post">
                                        <input type="hidden" name="taskID" value="<%= row.taskID %>">
                                        <button type="submit">削除</button>
                                    </form>
                                </td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
                <div id="chart_div"></div>
                <% } else { %>
                    <p>表示するプロジェクトがありません</p>
                <% } %>
            </div>

            <div class="section">
                <h2>自分のタスク一覧 (consulted)</h2>
                <% if(consultedTask && consultedTask.length > 0) { %>
                <table id="taskTable">
                    <thead>
                        <tr>
                            <th>タスク名</th>
                            <th>概要</th>
                            <th>期限</th>
                            <th>進行度</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% consultedTask.forEach(row => { %>
                            <tr>
                                <td><a href="/task?tid=<%= row.taskID %>"><%= row.name %></a></td>
                                <td><%= row.description %></td>
                                <td><%= row.due %></td>
                                <td data-completion="<%= row.completion %>">
                                    <% if(row.completion === 1) { %>
                                        完了
                                    <% } else if(row.completion === 0) { %>
                                        進行中
                                    <% } else { %>
                                        開始前
                                    <% } %>
                                </td>
                                <td>
                                    <form action="/task/delete-task" method="post">
                                        <input type="hidden" name="taskID" value="<%= row.taskID %>">
                                        <button type="submit">削除</button>
                                    </form>
                                </td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
                <div id="chart_div"></div>
                <% } else { %>
                    <p>表示するプロジェクトがありません</p>
                <% } %>
            </div>

            <div class="section">
                <h2>自分のタスク一覧 (informed)</h2>
                <% if(informedTask && informedTask.length > 0) { %>
                <table id="taskTable">
                    <thead>
                        <tr>
                            <th>タスク名</th>
                            <th>概要</th>
                            <th>期限</th>
                            <th>進行度</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% informedTask.forEach(row => { %>
                            <tr>
                                <td><a href="/task?tid=<%= row.taskID %>"><%= row.name %></a></td>
                                <td><%= row.description %></td>
                                <td><%= row.due %></td>
                                <td data-completion="<%= row.completion %>">
                                    <% if(row.completion === 1) { %>
                                        完了
                                    <% } else if(row.completion === 0) { %>
                                        進行中
                                    <% } else { %>
                                        開始前
                                    <% } %>
                                </td>
                                <td>
                                    <form action="/task/delete-task" method="post">
                                        <input type="hidden" name="taskID" value="<%= row.taskID %>">
                                        <button type="submit">削除</button>
                                    </form>
                                </td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
                <div id="chart_div"></div>
                <% } else { %>
                    <p>表示するプロジェクトがありません</p>
                <% } %>
            </div>
        </div>
    </div>
</body>
</html>
