<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>profile!</h1>
<img id="icon-image" src="<%= iconData.publicUrl%>" alt="icon" height="200px" width="200px">
<a href="/profile/upload-icon">アイコンを編集</a>
<form action="/profile/edit-profile" method="post">
<table border="1">
    <thead>
    <tr>
        <th>Name</th>
        <th>mail Address</th>
        <th>ID</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td><input type="text" name="name" value="<%= userData[0].name%>"></td>
            <td><%= userData[0].email%></td>
            <td><%= userData[0].userID%><input type="hidden" name="userID" value="<%= userData[0].userID%>"></td>
            <td><input type="submit"></td>
        </tr>
    </tbody>
</table>
</form>
</body>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Add a timestamp to the URL to force the browser to fetch the latest image
        const timestamp = new Date().getTime();
        const imageUrl = `<%= iconData.publicUrl %>?v=${timestamp}`;
        console.log(imageUrl); // Debug the URL to ensure it's correct
        const icon = document.getElementById('icon-image');
        icon.src = imageUrl;
    });
</script>
</html>