<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        if (window.innerWidth <= 768) {
            document.write('<link rel="stylesheet" href="/stylesheets/mobile.css">');
        } else {
            document.write('<link rel="stylesheet" href="/stylesheets/desktop.css">');
        }
    </script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <title>Document</title>
</head>

<body>
<div class="container">
    <div class="sidebar">
        <img src="/images/hayabusa2.png" alt="icon">
        <% if(userID) { %>
            <ul>
                <a href="/"><li>ホーム</li></a>
                <a href="/dashboard"><li>ダッシュボード</li></a>
                <a href="/project/projects"><li>プロジェクト一覧</li></a>
                <a href="/task/tasks"><li>タスク一覧</li></a>
                <a href="/profile?uid=<%= userID %>"><li>マイページ</li></a>
                <a href="/login/logout"><li>ログアウト</li></a>
            </ul>
        <% }else { %>
            <ul>
                <a href="/"><li>ホーム</li></a>
                <a href="/login"><li>ログイン</li></a>
                <a href="/login/create"><li>アカウント作成</li></a>
            </ul>
        <% } %>
    </div>

    <div class="content">

        <div class="breadcrumb">
            <a href="/dashboard">ダッシュボード</a>
            <span>></span>
            <a href="/project?pid=<%= projectData[0].projectID%>"><%= projectData[0].name %></a>
            <span>></span>
            <a href="/task?tid=<%= taskData[0].taskID%>"><%= taskData[0].name %></a>
            <span>></span>
            <span><%= subtaskData[0].name %></span>
        </div>

        <div class="section">
            <h2><%= projectData[0].name %></h2>
            <p><%= projectData[0].description %></p>
        </div>

        <div class="section">
            <h2><%= taskData[0].name %></h2>
            <p>
                概要：<%= taskData[0].description %><br>
                期限：<%= taskData[0].due %><br>
                Responsible：<% users.forEach(row => { %><%= row.userID === taskData[0].responsible? row.name : ''%><% }) %><br>
            </p>
        </div>

        <div class="section">
            <h2><%= subtaskData[0].name %></h2>
            <p>
                概要：<%= subtaskData[0].description %><br>
                期限：<%= subtaskData[0].due %><br>
                Responsible：<% users.forEach(row => { %><%= row.userID === subtaskData[0].responsible? row.name : ''%><% }) %><br>
            </p>
            <div><a href="/subtask/edit-subtask?sid=<%= subtaskData[0].subtaskID %>"><button>サブタスクを編集</button></a></div>
        </div>

        <div class="section">
            <h2>コメント</h2>
            <% if (comments && comments.length > 0) { %>
                <ul class="comments">
                    <% comments.forEach(row => { %>
                        <li>
                            <div><a href="/profile?uid=<%= row.commenter_id%>"><img class="comment-icon" src="<%= supabaseURL%>/storage/v1/object/public/icons/<%= row.commenter_id%>.jpg" alt="icon"></a><br><%= row.commenter_name%></div>
                            <div><%= row.comment %></div>
                            <div><%= row.created_at %></div>
                        </li>
                    <% }) %>
                </ul>
            <% } else { %>
                <p>コメントはまだありません</p>
            <% } %>

            <form method="post" action="/subtask/">
                <label for="comment"><b>コメントを送信</b></label>
                <input type="text" placeholder="コメントを入力" name="comment" required>
                <br>
                <button type="submit">投稿</button>
            </form>
        </div>
    </div>
</div>
</body>

<script>
</script>