<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project</title>
</head>
<body>
<div class="container">
    <div class="header">
        <h1>Task Details</h1>
    </div>
    <p><a href="/dashboard">dashboard</a> > <a href="/project?pid=<%= projectData[0].projectID%>"><%= projectData[0].name%></a> > <a href="/task?pid=<%= projectData[0].projectID%>&tid=<%= taskData[0].taskID%>"><%= taskData[0].name%></a></p>

    <h2>Project Information</h2>
    <% if (projectData && projectData.length > 0) { %>
        <table border="1">
            <thead>
            <tr>
                <th>Project Name</th>
                <th>description</th>
            </tr>
            </thead>
            <tbody>
            <% projectData.forEach(function(row) { %>
                <tr>
                    <td><a href="/project?pid=<%= row.projectID%>"><%= row.name%></a></td>
                    <td><%= row.description%></td>
                </tr>
            <% }); %>
            </tbody>
        </table>
    <% } else { %>
        <p>No project data available.</p>
    <% } %>

    <h2>taskData</h2>
    <% if (taskData && taskData.length > 0) { %>
        <table border="1">
            <thead>
            <tr>
                <th>Task Name</th>
                <th>description</th>
                <th>created date</th>
                <th>due date</th>
                <th>priority</th>
                <th>risk</th>
            </tr>
            </thead>
            <tbody>
            <% taskData.forEach(function(row) { %>
                <tr>
                    <td><a href="/task?pid=<%= projectData[0].projectID%>&tid=<%= row.taskID%>"><%= row.name%></a></td>
                    <td><%= row.description%></td>
                    <td><%= row.created%></td>
                    <td><%= row.due%></td>
                    <td><%= row.priority%></td>
                    <td><%= row.risk%></td>
                </tr>
            <% }); %>
            </tbody>
        </table>
    <% } else { %>
        <p>No taskData available for this project.</p>
    <% } %>

    <h2>Comments</h2>
    <% if (comments && comments.length > 0) { %>
        <table border="1">
            <thead>
            <tr>
                <th>Commenter Name</th>
                <th>Comment</th>
                <th>Date</th>
            </tr>
            </thead>
            <tbody>
            <% comments.forEach(function(row) { %>
                <tr>
                    <td><%= row.commenter_name%></td>
                    <td><%= row.comment%></td>
                    <td><%= row.created%></td>
                </tr>
            <% }); %>
            </tbody>
        </table>
    <% } else { %>
        <p>No comments available for this project.</p>
    <% } %>
</div>
<br>
<div class="container">
    <form method="post" action="/task/">
        <label for="comment"><b>Send comment</b></label>
        <input type="text" placeholder="Enter comment" name="comment" required>
        <br>

        <button type="submit">comment</button>
    </form>
</div>
</body>
</html>