<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        if (window.innerWidth <= 768) {
            document.write('<link rel="stylesheet" href="/stylesheets/mobile.css">');
        } else {
            document.write('<link rel="stylesheet" href="/stylesheets/desktop.css">');
        }
    </script>
    <title>Document</title>
</head>
<body>
<div class="container">
    <div class="sidebar">
        <img src="/images/hayabusa2.png" alt="icon">
        <% if(userID) { %>
            <ul>
                <a href="/"><li>ホーム</li></a>
                <a href="/dashboard"><li>ダッシュボード</li></a>
                <a href="/task/tasks"><li>タスク一覧</li></a>
                <a href="/profile?uid=<%= userID %>"><li>マイページ</li></a>
                <a href="/login/logout"><li>ログアウト</li></a>
            </ul>
        <% } else { %>
            <ul>
                <a href="/"><li>ホーム</li></a>
                <a href="/login"><li>ログイン</li></a>
                <a href="/login/create"><li>アカウント作成</li></a>
            </ul>
        <% } %>
    </div>
    
    <div class="content">
        <div class="section">
            <h2>タスク一覧</h2>
            <% if(taskData && taskData.length > 0) { %>
            <table id="taskTable">
                <thead>
                    <tr>
                        <th>タスク名</th>
                        <th>概要</th>
                        <th>期限</th>
                        <th>責任者
                            <div class="selector">
                                <select id="statusFilter">
                                    <option value="all">All</option>
                                    <option value="-1">Not started</option>
                                    <option value="0">In progress</option>
                                    <option value="1">Finished</option>
                                </select>
                            </div>
                        </th>
                        <th>進行度
                            <div class="selector">
                                <select id="personFilter">
                                    <option value="all">All</option>
                                    <% users.forEach(user_row => { %>
                                        <option value="<%= user_row.userID %>"><%= user_row.name %></option>
                                    <% }) %>
                                </select>
                            </div>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% taskData.forEach(row => { %>
                        <tr>
                            <td><a href="/task?tid=<%= row.taskID %>"><%= row.name %></a></td>
                            <td><%= row.description %></td>
                            <td><%= row.due %></td>
                            <td>
                                <% users.forEach(user_row => { %>
                                    <%= user_row.userID === row.responsible ? user_row.name : '' %>
                                <% }) %>
                                <div hidden><%= row.responsible %></div>
                            </td>
                            <td data-completion="<%= row.completion %>">
                                <% if(row.completion === 1) { %>
                                    完了
                                <% } else if(row.completion === 0) { %>
                                    作業中
                                <% } else { %>
                                    始まってすらいない
                                <% } %>
                            </td>
                            <td>
                                <form action="/task/delete-task" method="post">
                                    <input type="hidden" name="taskID" value="<%= row.taskID %>">
                                    <button type="submit">削除</button>
                                </form>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
            <div id="chart_div"></div>
            <% } else { %>
                <p>表示するプロジェクトがありません</p>
            <% } %>
        </div>
    </div>
</div>
</body>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        function filterTasks() {
            let statusFilterValue = document.getElementById('statusFilter').value;
            let personFilterValue = document.getElementById('personFilter').value;
            let table = document.getElementById('taskTable');
            let rows = table.getElementsByTagName('tr');

            for (let i = 1; i < rows.length; i++) {
                let completionValue = rows[i].getElementsByTagName('td')[4].dataset.completion;
                let personValue = rows[i].getElementsByTagName('td')[3].querySelector('div').innerText.trim();

                if ((statusFilterValue === 'all' || statusFilterValue === completionValue) &&
                    (personFilterValue === 'all' || personFilterValue === personValue)) {
                    rows[i].style.display = '';
                } else {
                    rows[i].style.display = 'none';
                }
            }
        }

        // Add event listeners
        document.getElementById('statusFilter').addEventListener('change', filterTasks);
        document.getElementById('personFilter').addEventListener('change', filterTasks);
    });
</script>
</html>
